body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.map {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
}

.results {
    background-color: white;
    opacity: 0.8;
    position: absolute;
    top: 12px;
    right: 12px;
    width: 320px;
    height: 480px;
    overflow-y: scroll;
} 
.panel {
    background-color: white;
    opacity: 0.8;
    position: absolute;
    top: 62px;
    right: 12px;
    bottom: 12px;
    width: 320px;
    overflow-y: scroll;
    padding: 5px;
}
